<div class="container">
    <div class="card">
        <mat-card>
            <mat-card-title>
                Atualizar Produto
            </mat-card-title><br>
            <mat-card-subtitle>
                Você deseja atualizar o produto <strong appPurple>{{product.name}}</strong>?
            </mat-card-subtitle>
            <form action="">
                <mat-form-field>
                    <input matInput type="text" placeholder="Nome do Produto" [(ngModel)]="product.name" name="name">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="number" placeholder="Preço (R$)" [(ngModel)]="product.price" name="price">
                </mat-form-field>
            </form>
        </mat-card>
    </div>  
    <div class="buttons">
        <button mat-raised-button (click)="cancelProduct()" color="warn">
            Voltar
        </button>
        <button mat-raised-button (click)="updateProduct()" color="accent">
            Atualizar
        </button>
    </div>
</div>